/* mobile design */
@media (max-width: 740px) {

    body {
        overflow-x: hidden;
        padding: 50px 20px 0px 20px;
    }

    #nav-logo-img {
    }


    #nav-ul {
        display: none;
    }

    #header-content-container {
        flex-direction: column;
        align-items: center;
        margin-top: 38px;
    }

    .header-content-item {
        max-width: 100%;
    }
    #header-character {
        margin-top: 32px;
        height: auto;
    }
    
    #cta {
        max-width: 343px;
    }

    #open-menu {
        display: block;
    }

    .header-menu-open {
        display: block;
    }

}