body {
    margin: 0;
    padding-left: 140.92px;
    padding-right: 140.92px;
    padding-top: 48.7px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav img {
    
    width: 114.91px;
    height: 33.99px;
    top: 48.7px;
    left: 140.92px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    font-family: poppins;
    font-size: 17px;
    line-height: 25.5px;
    text-decoration: none;

}